<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog.css">
        <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-default.css">
        <!-- build:css(.tmp) styles/supermiodek.css -->
        <link rel="stylesheet" href="styles/supermiodek.css">
        <!-- endbuild -->
    </head>
    <body ng-app="supermiodek">
        <header ng-controller="HeaderCtrl">
            <ng-include ng-if="!$state.current.data.adminPage" src="'views/header.html'"></ng-include>
            <ng-include ng-if="$state.current.data.adminPage" src="'views/headerAdmin.html'"></ng-include>
        </header>

        <ng-include ng-if="$state.current.data.loadMainBanner" src="'views/mainBanner.html'"></ng-include>

        <ui-view></ui-view>

        <ng-include ng-if="!$state.current.data.removeFooter" src="'views/footer.html'"></ng-include>

        <div class="loading-spinner-holder" data-loading ><div class="spinner"></div></div>


        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_pl.js"></script>
        <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
        <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/products.js"></script>
        <script src="scripts/controllers/editProduct.js"></script>
        <script src="scripts/controllers/shop.js"></script>
        <script src="scripts/controllers/orders.js"></script>
        <script src="scripts/controllers/editOrder.js"></script>
        <script src="scripts/controllers/config.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/inside.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/services/productservice.js"></script>
        <script src="scripts/services/orderservice.js"></script>
        <script src="scripts/services/configservice.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/services/contactservice.js"></script>
        <script src="scripts/directives/thumb.js"></script>
        <script src="scripts/directives/loading.js"></script>
        <!-- endbuild -->
    </body>
</html>
