<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog.css">
        <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-default.css">
        <!-- build:css(.tmp) styles/supermiodek.css -->
        <link rel="stylesheet" href="styles/supermiodek.css">
        <!-- endbuild -->
    </head>
    <body ng-app="supermiodek">
        <header ng-controller="HeaderCtrl">
            <nav id="headerTop"  class="navbar navbar-default navbar-fixed-top" ng-if="$state.current.data.adminPage" ng-cloak>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adminMobileMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand" title="Powrót do sklepu"><img src="/images/logo.png" alt="Supermiodek.pl"> Supermiodek</a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="adminMobileMenu">
                        <ul class="nav navbar-nav" ng-controller="InsideCtrl">
                            <li><a ui-sref="orders">Zamówienia</a></li>
                            <li><a ui-sref="products">Produkty</a></li>
                            <li><a ui-sref="config">Konfiguracja</a></li>
                            <li ng-if="authorized"><button type="button" ng-click="logout()" class="btn btn-danger logout-btn">Wyloguj</button></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <nav class="navbar navbar-default navbar-fixed-top public" ng-if="!$state.current.data.adminPage" ng-cloak>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Supermiodek.pl" />Supermiodek</a>
                    </div>

                    <div class="collapse navbar-collapse" id="mainNav">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ui-sref="#">Produkty</a></li>
                            <li><a ui-sref="shop">Sklep</a></li>
                            <li><a ui-sref="#">Galeria</a></li>
                            <li><a ui-sref="#">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div id="mainBanner" class="carousel slide" data-ride="carousel" ng-if="$state.current.data.loadMainBanner" ng-cloak>
            <ol class="carousel-indicators">
                <li data-target="#mainBanner" data-slide-to="0" class="active"></li>
                <li data-target="#mainBanner" data-slide-to="1"></li>
                <li data-target="#mainBanner" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/slide01.jpg" alt="...">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="images/slide02.jpg" alt="...">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="images/slide03.jpg" alt="...">
                    <div class="carousel-caption"></div>
                </div>
            </div>
        </div>

        <ui-view></ui-view>

        <div class="loading-spinner-holder" data-loading ><div class="spinner"></div></div>


        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_pl.js"></script>
        <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
        <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/products.js"></script>
        <script src="scripts/controllers/editProduct.js"></script>
        <script src="scripts/controllers/shop.js"></script>
        <script src="scripts/controllers/orders.js"></script>
        <script src="scripts/controllers/editOrder.js"></script>
        <script src="scripts/controllers/config.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/inside.js"></script>
        <script src="scripts/services/productservice.js"></script>
        <script src="scripts/services/orderservice.js"></script>
        <script src="scripts/services/configservice.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/directives/thumb.js"></script>
        <script src="scripts/directives/loading.js"></script>
        <!-- endbuild -->
    </body>
</html>
