$primary-font: "Roboto";
$secondary-font: "Lato";
$font-awesome: "FontAwesome";

$red: #F44236;
$beige: #F8F3E4;
$grey: #999999;
$yellow: #CDB622;
$blue: #01bbd4;
$brown: #683139;
$error: #a94442;

$navbar-height: 70px;
$input-height: 40px;
