#configView {
  h4 {
    text-align: center;
    margin: 30px 0 20px 0;
  }

  .form-control {
    padding: 6px 12px;
  }

  table {
    thead {
      border-top: 1px solid #ddd;
    }

    tr {
      td, th {
        max-width: 300px;

        &:first-of-type {
          width: 50px;
          text-align: center;
          vertical-align: middle;
        }

        .form-group {
          margin-bottom: 0;
        }

        button {
          font-size: 1.4rem;
          padding: 10px 15px;
        }
      }
    }
  }
}