header {
     #headerTop {
         height: 70px;
         background: $beige;

         a {
             text-transform: uppercase;
             font-size: 18px;
             color: $blue;
             margin-left: 10px;

             &:hover {
                 color: $red;
             }
         }
     }

    .navbar {
        height: $navbar-height;
        background: $red;
        border: 0;
        border-radius: 0;
        margin: 0;

        .navbar-header {
            .navbar-brand {
                height: auto;
                font-size: 2.0rem;
                color: #fff;
                text-transform: uppercase;
                padding-top: 10px;
                padding-bottom: 10px;

                img {
                    display: inline-block;
                    max-width: 50px;
                    margin-right: 10px;
                }
            }
        }

        .navbar-collapse {
            .nav {
                float: none;
                text-align: center;

                li {
                    float: none;
                    display: inline-block;

                    a {
                        line-height: 31px;
                        font-size: 2.4rem;
                        color: #fff;
                        text-transform: uppercase;
                        padding: 20px;
                        @extend .transition;

                        &:hover {
                            color: #222222;
                        }
                    }

                    &.active {
                        a {
                            background: none;
                        }
                    }
                }
            }
        }
    }
}
