#shop {
    margin-top: 30px;

    h4 {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 30px;
    }

    ul.products-list {
        font-size: 0;
        text-align: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            float: none;
            display: inline-block;
            margin-bottom: 15px;

            a.name {
                font-size: 2.2rem;
                margin-bottom: 10px;
            }

            p.availability {
                margin: 10px 0;
            }
        }
    }

    p.total {
        font-size: 2.0rem;
        text-transform: uppercase;
        padding: 20px 0;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        margin: 10px 0;

    }

    .btn[type="submit"] {
        display: block;
        margin: 30px auto 0 auto;
    }
}

.ngdialog.order-confirmation {
    .ngdialog-content {
        width: auto;
        max-width: 1000px;
        background: #fff;
        padding-top: 35px;

        .panel-content {
            padding: 15px 0;
        }

        .container {
            max-width: 100%;
        }

        table {
            border-top: 1px solid $table-border;
            margin: 10px 0;

            tr {
                td, th {
                    + td, + th {
                       text-align: center;

                       &:last-of-type {
                           text-align: right;
                       }
                   }
                }

                &:last-of-type {
                    td {
                        border-bottom: 1px solid $table-border;
                    }
                }
            }
        }

        .total-wrapper {
            border-top: 1px solid $table-border;

            p.total {
                font-size: 2.0rem;
                color: $brown;
                text-align: right;
                text-transform: uppercase;
                margin: 0;

                b {
                    margin-left: 15px;
                }
            }
        }

        .actions {
            text-align: center;
        }
    }
}
