<div class="container">
    <form name="addProductForm" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback">
                    <label for="name" class="control-label">Nazwa<em>*</em></label>
                    <input id="name" type="text" name="name" class="form-control" placeholder="Nazwa" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback">
                    <label for="price" class="control-label">Cena<em>*</em></label>
                    <input id="price" type="text" name="price" class="form-control" placeholder="Cena" required>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback">
                    <label for="shortDescription" class="control-label">Krótki opis<em>*</em></label>
                    <textarea id="shortDescription" name="shortDescription" class="form-control" placeholder="Krótki opis" required></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback">
                    <label for="description" class="control-label">Opis<em>*</em></label>
                    <textarea id="description" name="description" class="form-control" placeholder="Opis" required></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback">
                    <label for="image" class="control-label">Zdjęcie<em>*</em></label>
                    <input id="image" type="file" name="image" class="form-control" placeholder="Zdjęcie" required>
                </div>
            </div>
        </div>
    </form>
</div>
