<section class="main-page-section beige">
    <div class="container">
        <h3>Welcome</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-4 welcome-section">
                <img src="images/img01.jpg" alt="" />
                <h4 class="title">Vestibulum moles</h4>
                <div class="desc">
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vestibulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce suscipit.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 welcome-section">
                <img src="images/img02.jpg" alt="" />
                <h4 class="title">Aenean nonummy</h4>
                <div class="desc">
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vestibulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce suscipit.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 welcome-section">
                <img src="images/img03.jpg" alt="" />
                <h4 class="title">hendrerit mauris</h4>
                <div class="desc">
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vestibulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce suscipit.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding-top no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 center">
                <img src="images/page-1_img12.jpg" alt="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 well description">
                <h4 class="red">NASCETUR RIDICULUS MUS NULLA DUI FUSCE FEUGIAT MALESUADA ODIO MORBI</h4>
                <p>
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vbulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce s varius mi. m sociis natoque penatibus et magnis diurient montes, nascetur ridiculus mus. Nulla dui. Fuscgiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac. Duis ultricies pharetra magnamsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris
                </p>
                <a href="#" class="btn btn-secondary">Czytaj więcej</a>
            </div>
        </div>
    </div>
</section>

<section class="main-page-section beige">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h4 class="red">vestibulum molestie lacus. Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit vari</h4>
                <p>
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vbulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce s varius mi. m sociis natoque penatibus et magnis diurient montes, nascetur ridiculus mus. Nulla dui. Fuscgiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac. Duis ultricies pharetra magnamsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris
                </p>
                <a href="#" class="btn btn-secondary">Czytaj więcej</a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="images/page-1_img11.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section id="anchorproducts" class="main-page-section products-section" ng-controller="ProductsCtrl">
    <div class="container">
        <h3>Products</h3>
        <div class="row">
            <ul class="products-list">
                <li class="col-xs-12 col-sm-6 col-md-3 product-item" ng-repeat="product in products">
                    <a href="#" class="img"><img src="images/{{product.image}}" alt="{{product.name}}" /></a>
                    <a href="#" class="name">{{product.name}}</a>
                    <div class="short-desc">{{product.shortDescription}}</div>
                </li>
            </ul>
        </div>
        <a href="#" class="btn btn-primary place-order">Złóż zamówienie</a>
    </div>
</section>

<section class="main-page-section beige events">
    <div class="container">
        <h3>News & events</h3>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <time>12/09/2015</time>
                <h6>Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus</h6>
                <p>
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vestibulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce s varius mi. Cum sociis natoque penatibus et magnis diurient montes, nascetur ridiculus mus. Nulla dui. Fuscgiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac. Duis ultricies pharetra magnamsan malesuada orci.
                </p>
                <a href="#" class="btn btn-primary">Czytaj więcej</a>
            </div>
            <div class="col-xs-12 col-md-4">
                <time>12/09/2015</time>
                <h6>Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus</h6>
                <p>
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vestibulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce s varius mi. Cum sociis natoque penatibus et magnis diurient montes, nascetur ridiculus mus. Nulla dui. Fuscgiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac. Duis ultricies pharetra magnamsan malesuada orci.
                </p>
                <a href="#" class="btn btn-primary">Czytaj więcej</a>
            </div>
            <div class="col-xs-12 col-md-4">
                <time>12/09/2015</time>
                <h6>Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus</h6>
                <p>
                    Lorem ipsum dolor sit amet, coectetuer adipiscing elit. Praesent vestibulum moleus. Aenean nonummy hendrerit mauris. Phasellus portce s varius mi. Cum sociis natoque penatibus et magnis diurient montes, nascetur ridiculus mus. Nulla dui. Fuscgiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac. Duis ultricies pharetra magnamsan malesuada orci.
                </p>
                <a href="#" class="btn btn-primary">Czytaj więcej</a>
            </div>
        </div>
    </div>
</section>

<section class="main-page-section gallery">
    <div class="container">
        <h3>Galeria</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="img" data-toggle="modal" data-target="#galleryImg1">
                    <img src="images/gallery_img_thumb1.jpg" alt="" />
                </div>
                <div class="modal fade" id="galleryImg1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="images/gallery_img1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="img" data-toggle="modal" data-target="#galleryImg2">
                    <img src="images/gallery_img_thumb2.jpg" alt="" />
                </div>
                <div class="modal fade" id="galleryImg2">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="images/gallery_img2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="img" data-toggle="modal" data-target="#galleryImg3">
                    <img src="images/gallery_img_thumb3.jpg" alt="" />
                </div>
                <div class="modal fade" id="galleryImg3">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="images/gallery_img3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="img" data-toggle="modal" data-target="#galleryImg4">
                    <img src="images/gallery_img_thumb4.jpg" alt="" />
                </div>
                <div class="modal fade" id="galleryImg4">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="images/gallery_img4.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="img" data-toggle="modal" data-target="#galleryImg5">
                    <img src="images/gallery_img_thumb5.jpg" alt="" />
                </div>
                <div class="modal fade" id="galleryImg5">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="images/gallery_img5.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="img" data-toggle="modal" data-target="#galleryImg6">
                    <img src="images/gallery_img_thumb6.jpg" alt="" />
                </div>
                <div class="modal fade" id="galleryImg6">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="images/gallery_img6.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
