<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table id="productsTable" class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Opcje</th>
                </tr>
                <tr ng-repeat="product in products">
                    <td>{{$index +1}}</td>
                    <td><a href="#/product/{{product._id}}">{{product.name}}</a></td>
                    <td>{{product.availability}}</td>
                    <td></td>
                </tr>
            </table>
            <a href="#/products/add" class="btn btn-primary">Dodaj produkt</a>
        </div>
    </div>
</div>
