<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table id="productsTable" class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Status</th>
                    <th>Opcje</th>
                </tr>
                <tr ng-repeat="product in products">
                    <td>{{$index +1}}</td>
                    <td><a href="#/product/{{product._id}}">{{product.name}}</a></td>
                    <td>{{product.availability}}</td>
                    <td>{{product.status === '1' ? 'Włączone' : 'Wyłączone'}}</td>
                    <td><button type="button" class="btn btn-primary btn-small" ng-click="remove(product._id, $index)">Usuń</button></td>
                </tr>
            </table>
            <a href="#/products/add" class="btn btn-secondary">Dodaj produkt</a>
        </div>
    </div>
</div>
