<div id="shop" class="container">
    <form name="placeOrderForm" ng-submit="confirmOrder()" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback"
                     ng-class="{'has-error': placeOrderForm.name.$dirty && placeOrderForm.name.$error.required, 'has-success': placeOrderForm.name.$dirty && !placeOrderForm.name.$error.required}">
                    <label for="name"
                           class="control-label">Imię<em>*</em></label>
                    <input id="name"
                           type="text"
                           ng-model="order.client.name" name="name" class="form-control" placeholder="Imię" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.name.$dirty && !placeOrderForm.name.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.name.$dirty && placeOrderForm.name.$error.required"></span>
                    <span class="error-msg" ng-show="placeOrderForm.name.$dirty && placeOrderForm.name.$error.required">To pole jest wymagane</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback"
                     ng-class="{'has-error': placeOrderForm.surname.$dirty && placeOrderForm.surname.$error.required, 'has-success': placeOrderForm.surname.$dirty && !placeOrderForm.surname.$error.required}">
                    <label for="surname" class="control-label">Nazwisko<em>*</em></label>
                    <input id="surname" name="surname" type="text" ng-model="order.client.surname" class="form-control"
                           placeholder="Nazwisko" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.surname.$dirty && !placeOrderForm.surname.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.surname.$dirty && placeOrderForm.surname.$error.required"></span>
                    <span class="error-msg"
                          ng-show="placeOrderForm.surname.$dirty && placeOrderForm.surname.$error.required">To pole jest wymagane</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12  col-sm-6">
                <div class="form-group has-feedback"
                     ng-class="{'has-error': placeOrderForm.email.$dirty && (placeOrderForm.email.$error.required || placeOrderForm.email.$error.email), 'has-success': placeOrderForm.email.$dirty && !placeOrderForm.email.$error.required}">
                    <label for="email" class="control-label">Adres e-mail<em>*</em></label>
                    <input id="email" type="email" name="email" ng-model="order.client.email" class="form-control"
                           placeholder="Adres e-mail" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.email.$dirty && !placeOrderForm.email.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.email.$dirty && placeOrderForm.email.$error.required"></span>
                    <span class="error-msg"
                          ng-show="placeOrderForm.email.$dirty && placeOrderForm.email.$error.required">To pole jest wymagane</span>
                    <span class="error-msg" ng-show="placeOrderForm.email.$dirty && placeOrderForm.email.$error.email">Nieprawidłowy format</span>
                </div>
            </div>
            <div class="col-xs-12  col-sm-6">
                <div class="form-group has-feedback"
                     ng-class="{'has-error': placeOrderForm.phone.$dirty && (placeOrderForm.phone.$error.required || !placeOrderForm.phone.$valid), 'has-success': placeOrderForm.phone.$dirty && !placeOrderForm.phone.$error.required}">
                    <label for="phone" class="control-label">Numer telefonu<em>*</em></label>
                    <input id="phone" name="phone" type="tel" ng-model="order.client.phone" ng-pattern="'\\d+'"
                           class="form-control" placeholder="Telefon" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.phone.$dirty && !placeOrderForm.phone.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.phone.$dirty && placeOrderForm.phone.$error.required"></span>
                    <span class="error-msg"
                          ng-show="placeOrderForm.phone.$dirty && placeOrderForm.phone.$error.required">To pole jest wymagane</span>
                    <span class="error-msg"
                          ng-show="placeOrderForm.phone.$dirty && !placeOrderForm.phone.$valid && !placeOrderForm.phone.$error.required">Nieprawidłowy format</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12  col-sm-6"
                 ng-class="{'has-error': placeOrderForm.shipping.$dirty && placeOrderForm.shipping.$error.required, 'has-success': placeOrderForm.shipping.$dirty && !placeOrderForm.shipping.$error.required}">
                <div class="form-group has-feedback">
                    <label for="shipping" class="control-label">Adres dostawy<em>*</em></label>
                    <textarea id="shipping" name="shipping" ng-model="order.client.shipment" class="form-control"
                              placeholder="Adres dostawy" required></textarea>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.shipping.$dirty && !placeOrderForm.shipping.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-show="placeOrderForm.shipping.$dirty && placeOrderForm.shipping.$error.required"></span>
                    <span class="error-msg"
                          ng-show="placeOrderForm.shipping.$dirty && placeOrderForm.shipping.$error.required">To pole jest wymagane</span>
                </div>
            </div>
            <div class="col-xs-12  col-sm-6">
                <div class="form-group">
                    <label for="comment" class="control-label">Komentarz</label>
                    <textarea id="comment" ng-model="order.client.comment" class="form-control"
                              placeholder="Komentarz"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <h4 class="red">Wybierz produkty</h4>
            <ul class="products-list">
                <li class="col-xs-12 col-sm-6 col-md-3 product-item" ng-repeat="product in products">
                    <a href="#" class="img"><img src="{{domain}}{{product.image}}" alt="{{product.name}}"/></a>
                    <a href="#" class="name">{{product.name}}</a>
                    <p class="availability">Dostępność: {{product.availability}} szt.</p>
                    <div class="price">{{product.price | currency}}</div>
                    <div class="quantity">
                        <button type="button" class="glyphicon glyphicon-minus asc"
                                ng-click="decrease(product._id)"></button>
                        <input type="number" ng-model="product.quantity" ng-change="checkProducts(product._id)"
                               ng-min="0" name="quantity" value="{{order.product}}" class="form-control">
                        <button type="button" class="glyphicon glyphicon-plus dec"
                                ng-click="increase(product._id)"></button>
                    </div>
                </li>
            </ul>
            <div class="col-xs-12">
                <p class="total">Do zapłaty: <b>{{order.total | currency}}</b></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <p class="bg-danger" ng-show="productsRequired">Musisz wybrać przynajmniej jeden produkt</p>
            </div>
            <div class="col-xs-12">
                <p class="bg-danger" ng-show="formInvalid">Wypełnij prawidłowo wszystkie wymagane pola</p>
            </div>
            <div class="col-xs-12">
                <p class="bg-success" ng-show="submitSuccess">{{successMessage}}</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
            </div>
        </div>
    </form>
</div>
<ng-include src="'views/shopConfirm.html'"></ng-include>
