<script type="text/ng-template" id="shopConfirm">
    <div class="panel panel-default">
        <div class="panel-heading">Podsumowanie</div>
        <div class="panel-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <b>Dane klienta</b><br>
                        {{order.client.name}} {{order.client.surname}} <br>
                        {{order.client.email}} <br>
                        {{order.client.phone}}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <b>Dane do dostawy</b><br>
                        <pre>{{order.client.shipment}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Cena za sztukę</th>
                    <th>Suma</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in order.products">
                    <td>{{$index + 1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price | currency}}</td>
                    <td>{{product.price*product.quantity | currency}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="total">Suma: <b>{{order.productsTotal | currency}}</b></td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-content">
            <div class="container">
                <div class="row">
                    <div class="shipment">
                        <div class="col-xs-12"><b>Wybierz metodę dostawy:</b></div>
                        <div class="col-xs-3" ng-repeat="method in shipmentMethods">
                            <div class="radio">
                                <label>
                                    <input
                                            type="radio"
                                            name="shipment"
                                            value="{{method.name}}"
                                            ng-click="chooseShipmentMethod(method._id)"
                                            ng-checked="method._id === order.shipment._id">
                                    {{method.name}} {{method.price | currency}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-content total-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="total">Do zapłaty: <b>{{order.total | currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-xs-12"> -->
        <p class="bg-danger" ng-show="shipmentInvalid">Wybierz metodę dostawy</p>
    <!-- </div> -->
    <div class="actions">
        <button type="button" class="btn btn-secondary btn-small" ng-click="closeThisDialog()">Wróć</button>
        <button type="button" class="btn btn-primary" ng-click="placeOrder()">Wyślij</button>
    </div>
</script>
